{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Awesome Deals!</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Awesome Deals!</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy Policy</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Laptop Deals</h3>
            <p>Find low price, high quality laptops online</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/2.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Computer Monitors</h3>
            <p>Find great quality with bargain prices online.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/3.jpg' %}')">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <!-- Portfolio Section -->
    <h1 class="my-4">Computer Monitor and Laptop Deals</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/32184r9"><img class="card-img-top" src="{% static 'affiliate/images/cm1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/32184r9">Philips 32" Super-Curved Frameless Monitor</a>
            </h4>
            <p class="card-text">The 32" curved E line display offers a truly immersive experience in a stylish design. Experience crisp Full HD visuals and smooth action with Adaptive-Sync technology. This monitor is special because of it's unique curved design, making it perfect for any office or home environment</p>
              <a href="https://amzn.to/32184r9" class="btn btn-primary" target="_blank">$241.21</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3ec3Z8t"><img class="card-img-top" src="{% static 'affiliate/images/cm2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3ec3Z8t">Dell 27" 4K UHD, IPS Ultra-Thin Bezel Monitor</a>
            </h4>
            <p class="card-text">The three-sided ultrathin bezel design in 4K UHD (3840 x 2160) resolution lets you enjoy immersive viewing in incredible clarity and fine detail with 4 times the resolution of Full HD. Supports HDR content playback for a more life like visual experience.</p>
            <a href="https://amzn.to/3ec3Z8t" class="btn btn-primary" target="_blank">$314.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2HMz8TM"><img class="card-img-top" src="{% static 'affiliate/images/cm3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2HMz8TM">Sceptre Curved 32" 1080p LED Monitor</a>
            </h4>
            <p class="card-text">With the Sceptre 185RD Curved LED Monitor series, an 1800R curved screen transports you into the heart of the gaming backdrop, keeping every detail and action clearly in sight at all times. With 185Hz refresh rate, AMD FreeSync and Blue Light Shift, it will all play a role in delivering what you need at a higher quality.</p>
            <a href="https://amzn.to/2HMz8TM" class="btn btn-primary" target="_blank">$239.97</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2HRfma5"><img class="card-img-top" src="{% static 'affiliate/images/laptop1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2HRfma5">Acer Aspire 5 Slim Laptop</a>
            </h4>
            <p class="card-text">Powerful and portable, the Aspire 5 laptop delivers on every aspect of everyday computing. Housing the AMD Ryzen 3 3200U Mobile Processor, this Aspire 5 can tackle any job no matter how complex. Creativity soars to new heights with sharp, crisp visuals showcased on the 15.6" Full HD IPS screen, while the thin bezel provides you more space to work with wherever inspiration strikes. It’s the perfect companion to take with you wherever you go!</p>
            <a href="https://amzn.to/2HRfma5" target="_blank" class="btn btn-primary">$364.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3kOzIiC"><img class="card-img-top" src="{% static 'affiliate/images/laptop2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3kOzIiC">HP Chromebook 14-inch HD Laptop</a>
            </h4>
            <p class="card-text">The best of work and play in one place. The HP Chromebook with an Intel processor, 14 display sporting more screen space, stereo speakers tuned by the audio experts at B&O and over 12 hours of battery life, you can knock out any assignment while binge watching your favorite shows</p>
            <a href="https://amzn.to/3kOzIiC" target="_blank" class="btn btn-primary">$274.95</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/2TCYE0x"><img class="card-img-top" src="{% static 'affiliate/images/laptop3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/2TCYE0x">HP Stream 14-inch Laptop</a>
            </h4>
            <p class="card-text">Laptop for work, school and play: With Office 365 and 1 TB of cloud storage, this device combines functionality, connectivity, style, and value</p>
            <a href="https://amzn.to/2TCYE0x" target="_blank" class="btn btn-primary">$278.98</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
<br/>
      <hr>
      <br/><br/>

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <script type="text/javascript">
    amzn_assoc_placement = "adunit0";
    amzn_assoc_search_bar = "true";
    amzn_assoc_tracking_id = "cero08-20";
    amzn_assoc_search_bar_position = "bottom";
    amzn_assoc_ad_mode = "search";
    amzn_assoc_ad_type = "smart";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
    amzn_assoc_title = "Shop Related Products";
    amzn_assoc_default_search_phrase = "computer monitor";
    amzn_assoc_default_category = "All";
    amzn_assoc_linkid = "3dc1aae4d98ea53ab9ebc903f13bd559";
    </script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "cero08-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "laptop";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "0dffbeebae37bbcc916e512b83673e8d";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <!-- /.row -->
<br/>
    <hr>
<br/>
    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Need to upgrade your laptop? Have to buy another monitor? Current item out-of-date or malfunctioning? Clck on the link to browse Amazon!</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" <a target="_blank" href="https://www.amazon.com/b?_encoding=UTF8&tag=cero08-20&linkCode=ur2&linkId=ce19ab1a350f0df7904875548fb9a7ae&camp=1789&creative=9325&node=1292115011">Shop Computer & Laptop on Amazon</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=cero08-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"/>
      </div>
    </div>
<br/><br/>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cero 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
